app/bootstrap.php.cache
app/config/parameters.yml

app/cache/*
app/logs/*

bin/*
build/*

nbproject/*
/nbproject/*

vendor/*

web/bundles/*
web/css/*
web/fonts/*
web/js/*

composer.phar

.php~
*.php~

.DS_Store

Thumbs.db
